<h1><%= @user.email %> <small><%= @user.kind %></small></h1>


<div class="jumbotron">
  <div class="container">
    <div class="row">
      
      <!--- Left col -->
      <div class="col-xs-12 col-sm-4 col-md-4">
        <%= image_tag 'vinny.jpg', class:'img-thumbnail' %>
      </div>

      <!-- Right col -->
      <div class="col-xs-12 col-sm-8 col-md-8">
        <h3>Sessions:</h3>
        <div class="row">

          <% @sessions.each do |photo_session| %>
          <% if photo_session.photos.first %>
            <div class="col-xs-12 col-sm-6 col-md-3">
              <div class="thumbnail">
                <%= link_to image_tag(photo_session.photos.first.image.url(:square), width:'100%'), photo_session, title: photo_session.photos.first.image_file_name %>
              </div>
            </div>
          <% end %>
          <% end %>
        
        </div>

        <h3>Commonly seen with:</h3>

        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-3">
            <%= image_tag 'alex.jpg', class:'img-thumbnail' %>
          </div>
        </div>  

      </div>
    </div>
  </div>
</div> <!-- /jumbotron -->

