<div class="col-sm-3 col-md-3"></div>
<div class="col-sm-6 col-md-6">

<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: 'form-control' %>
  </div>



  <div class="field">
    <%= f.label :customer_id, 'Customer' %><br>
    <% if @event and @event.customer %>
    <%= f.select :customer_id, Customer.accessible_by(current_ability, :update).collect {|e| [ e.name, e.id ] }, {selected: @event.customer.id}, {class: 'form-control'} %>
    <% else %> 
    <%= f.select :customer_id, Customer.accessible_by(current_ability, :update).collect {|e| [ e.name, e.id ] }, {}, {class: 'form-control'} %>
    <% end %>
    <%#= f.hidden_field :customer_id, class: 'form-control select2 ajax', data: { source: autocomplete_customers_path } %>
  </div>

  <% if params[:action] == 'edit' %>
    <%= f.label :slug, 'URL Route/Name (Read Only, cannot change)' %> <br/>
    <%= f.text_field :slug, class: 'form-control', readonly: true%>
  <% else %>
  <%= f.label :slug, 'URL Route/Name' %> <br/>
    <%= f.text_field :slug, class: 'form-control' %>
  <% end %>

  <br> 
  <h3>Custom Button</h3>
  <div class="field">
    <%= f.label :button_url %> <br/>
    <%= f.text_field :button_url, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :button_text %><br>
    <%= f.text_field :button_text, class: 'form-control' %>
  </div>

  <div class="field">
    <%#= f.label :description %><!-- <br> -->
    <%#= text_area(:event, :description, cols: 50, rows: 5, class: 'form-control') %>
    <%= f.hidden_field :description, class: 'form-control' %>
  </div>

  <br>
  <h3>SMS</h3>
  <div class="field">
    <%= f.label :sms_text %><br>
    <%= text_area(:event, :sms_text, cols: 50, rows: 5, class: 'form-control') %>
  </div>

  <br>
  <h3>Twitter</h3>
  <div class="field">
    <%= f.label :twitter_url %> <br/>
    <%= f.text_field :twitter_url, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :twitter_text %><br>
    <%= text_area(:event, :twitter_text, cols: 50, rows: 5, class: 'form-control') %>
  </div>

  <br> 
  <h3>Facebook</h3>
  <div class="field">
    <%= f.label :facebook_url %> <br/>
    <%= f.text_field :facebook_url, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :facebook_text %><br>
    <%= text_area(:event, :facebook_text, cols: 50, rows: 5, class: 'form-control') %>
  </div>

  

  <br>
  <h3>Branding</h3>

  <div class="field">
    <%= f.label :logo %><br />
    <% unless @event.logo.url.include? 'missing' %>
      <%= image_tag @event.logo.url(:original) , class:'img-thumbnail img-logo', width: '200px' %>
    <% else %>
      <%= image_tag 'default.png' , class:'img-thumbnail img-logo', width: '200px' %>
    <% end %>
    <%= f.file_field :logo %>
  </div>

  <div class="field">
    <%= f.label :watermark %><br />
    <% unless @event.watermark.url.include? 'missing' %>
      <%= image_tag @event.watermark.url(:original) , class:'img-thumbnail img-logo', width: '200px' %>
    <% else %>
      <%= image_tag 'default.png' , class:'img-thumbnail img-logo', width: '200px' %>
    <% end %>
    <%= f.file_field :watermark %>
  </div>


  <br>
  <h3>Feature Selection</h3>

  <%= f.fields_for :event_feature do |ff| %>
    <div class="field">
      <%= ff.label :facebook_share_button, "Facebook Share Button " %> </br>
      <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-primary <%= @event.event_feature.facebook_share_button_active? %>">
          <%= ff.radio_button :facebook_share_button, true %>Show
        </label>
        <label class="btn btn-primary <%= @event.event_feature.facebook_share_button_inactive? %>">
          <%= ff.radio_button :facebook_share_button, false %>Hide
        </label>
      </div>
    </div>


    <div class="field">
       <%= ff.label :twitter_share_button, "Twitter Share Button " %> </br>
      <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-primary <%= @event.event_feature.twitter_share_button_active? %>">
          <%= ff.radio_button :twitter_share_button, true %>Show
        </label>
        <label class="btn btn-primary <%= @event.event_feature.twitter_share_button_inactive? %>">
          <%= ff.radio_button :twitter_share_button, false %>Hide
        </label>
      </div>
    </div>


    <div class="field">
      <%= ff.label :instagram_share_button, "Instagram Share Button " %> </br>
      <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-primary <%= @event.event_feature.instagram_share_button_active? %>">
          <%= ff.radio_button :instagram_share_button, true %>Show
        </label>
        <label class="btn btn-primary <%= @event.event_feature.instagram_share_button_inactive? %>">
          <%= ff.radio_button :instagram_share_button, false %>Hide
        </label>
      </div>
    </div>


    <div class="field">
      <%= ff.label :download_button, "Download High Resolution Button" %> </br>
      <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-primary <%= @event.event_feature.download_button_active? %>">
          <%= ff.radio_button :download_button, true %>Show
        </label>
        <label class="btn btn-primary <%= @event.event_feature.download_button_inactive? %>">
          <%= ff.radio_button :download_button, false %>Hide
        </label>
      </div>
    </div>


    <div class="field">
      <%= ff.label :download_clicked_image, "Click Image to View Session Photo" %> </br>
      <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-primary <%= @event.event_feature.download_clicked_image_active? %>">
          <%= ff.radio_button :download_clicked_image, true %>On
        </label>
        <label class="btn btn-primary <%= @event.event_feature.download_clicked_image_inactive? %>">
          <%= ff.radio_button :download_clicked_image, false %>Off
        </label>
      </div>
    </div>
  <% end %>


  

  




  <div class="actions pull-right">
    <%= f.submit  class: 'btn btn-primary' %>
  </div>
<% end %>






</div>
<div class="col-sm-3 col-md-3"></div>

<script>
$('#event_customer_id').select2();
</script>