<h1>Listing events</h1>


<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>User</th>
      <th>#Sessions</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.name %></td>
        <td><%= event.user_id %></td>
        <td><%= event.photo_sessions.count %></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>



<%= link_to new_event_path, :class => "btn btn-default" do %>
  <i class="fa fa-plus"> Event</i>
<% end %>




