<div class="pull-right">
  <%= link_to 'Edit', edit_event_path(@event), class: 'btn btn-default' %> |
  <%= link_to 'Back', events_path, class: 'btn btn-default' %>
</div>

<div class="field"></div>
<h1><%= @event.name %></h1>


<table class="table">
  <thead>
    <tr>
      <th><i class="fa fa-twitter fa-2x"></i></th>
      <th><i class="fa fa-facebook fa-2x"></i></th>
      <th><i class="fa fa-instagram fa-2x"></i></th>
      <th><i class="fa fa-link fa-2x"></i></th>
      <th><i class="fa fa-floppy-o fa-2x"></i></th>
      <th>Opened</th>
      <th>Total</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @event.shares[:twitter]   %></td>
        <td><%= @event.shares[:facebook]  %></td>
        <td><%= @event.shares[:instagram] %></td>
        <td><%= @event.shares[:custom_button] %></td>
        <td><%= @event.shares[:downloads] %></td>

        <td><%= @event.opened_sessions %></td>
        <td><%= @event.total_sessions %></td>
      </tr>
  </tbody>
</table>


<div class="field">
    <%= label_tag :customer_id, "Customer" %>: <%= @event.customer.name %>
</div>


<div class="field">
    <%= label_tag :slug, "URL Route/Name" %>: <%= @event.slug %>
</div>


<h3>Custom Button</h3>

<div class="field">
    <%= label_tag :button_text %>: <%= @event.button_text %>
</div>

<div class="field">
    <%= label_tag :button_url %>: <%= @event.button_url.truncate 100 if @event.button_url %>
</div>


<h3>SMS</h3>


<div class="field">
    <%= label_tag :sms_text, "Text" %>: <br/>
    <%= text_area(:event, :sms_text, rows: 5, readonly: true, class: 'form-control') %>
</div>


<h3>Facebook</h3>

<div class="field">
    <%= label_tag :facebook_url,  "URL" %>: <%= link_to @event.facebook_url, @event.facebook_url %><br/>
    <%= label_tag :facebook_text, "Text" %>: <br/>
    <%= text_area(:event, :facebook_text, rows: 5, readonly: true, class: 'form-control') %>
</div>



<h3>Twitter</h3>

<div class="field">
    <%= label_tag :twitter_url,  "URL" %>: <%= link_to @event.twitter_url, @event.twitter_url %><br/>
    <%= label_tag :twitter_text, "Text" %>: <br/>
    <%= text_area(:event, :twitter_text, rows: 5, readonly: true, class: 'form-control') %>
</div>


<div class="field">
    <%= label_tag :logo %> </br>
    <% if @event.logo.file? %>
      <%= image_tag @event.logo.url(:original) , class:'img-thumbnail', width: '200px' %>
    <% else %>
      None found
    <% end %>
</div>

<div class="field">
    <%= label_tag :watermark %> </br>
    <% if @event.watermark.file? %>
      <%= image_tag @event.watermark.url(:original) , class:'img-thumbnail', width: '200px' %>
    <% end %>
</div>



<br>
<h3>Feature Selection</h3>


<div class="field">
  <%= label_tag :facebook_share_button, "Facebook Share Button " %> </br>
  <div class="btn-group" data-toggle="buttons">
    <label class="btn btn-primary <%= @event.event_feature.facebook_share_button_active? %>">
      <%= radio_button_tag :facebook_share_button, true, '', disabled: true %>Show
    </label>
    <label class="btn btn-primary <%= @event.event_feature.facebook_share_button_inactive? %>">
      <%= radio_button_tag :facebook_share_button, false, '', disabled: true %>Hide
    </label>
  </div>
</div>


<div class="field">
   <%= label_tag :twitter_share_button, "Twitter Share Button " %> </br>
  <div class="btn-group" data-toggle="buttons">
    <label class="btn btn-primary <%= @event.event_feature.twitter_share_button_active? %>">
      <%= radio_button_tag :twitter_share_button, true, '', disabled: true %>Show
    </label>
    <label class="btn btn-primary <%= @event.event_feature.twitter_share_button_inactive? %>">
      <%= radio_button_tag :twitter_share_button, false, '', disabled: true %>Hide
    </label>
  </div>
</div>


<div class="field">
  <%= label_tag :instagram_share_button, "Instagram Share Button " %> </br>
  <div class="btn-group" data-toggle="buttons">
    <label class="btn btn-primary <%= @event.event_feature.instagram_share_button_active? %>">
      <%= radio_button_tag :instagram_share_button, true, '', disabled: true %>Show
    </label>
    <label class="btn btn-primary <%= @event.event_feature.instagram_share_button_inactive? %>">
      <%= radio_button_tag :instagram_share_button, false, '', disabled: true %>Hide
    </label>
  </div>
</div>


<div class="field">
  <%= label_tag :download_button, "Download High Resolution Button" %> </br>
  <div class="btn-group" data-toggle="buttons">
    <label class="btn btn-primary <%= @event.event_feature.download_button_active? %>">
      <%= radio_button_tag :download_button, true, '', disabled: true %>Show
    </label>
    <label class="btn btn-primary <%= @event.event_feature.download_button_inactive? %>">
      <%= radio_button_tag :download_button, false, '', disabled: true %>Hide
    </label>
  </div>
</div>


<div class="field">
  <%= label_tag :download_clicked_image, "Click Image to View Session Photo" %> </br>
  <div class="btn-group" data-toggle="buttons">
    <label class="btn btn-primary <%= @event.event_feature.download_clicked_image_active? %>">
      <%= radio_button_tag :download_clicked_image, true, '', disabled: true %>On
    </label>
    <label class="btn btn-primary <%= @event.event_feature.download_clicked_image_inactive? %>">
      <%= radio_button_tag :download_clicked_image, false, '', disabled: true %>Off
    </label>
  </div>
</div>