<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>
<p>
  <strong>User#:</strong>
  <%= @event.id %>
</p>
<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>



<%= link_to new_event_image_path, :class => "btn btn-default" do %>
  <i class="fa fa-plus"> Image</i>
<% end %>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
