<div class="pull-right">
  <%= link_to 'Edit', edit_customer_path(@customer), class: 'btn btn-default' %>
  <%= link_to 'Back', customers_path, class: 'btn btn-default'  %>
</div>

<div class="field">
  <h1><%= @customer.name %></h1>
</div>

<table class="table">
  <thead>
    <tr>
      <th><i class="fa fa-twitter fa-2x"></i></th>
      <th><i class="fa fa-facebook fa-2x"></i></th>
      <th><i class="fa fa-instagram fa-2x"></i></th>
      <th><i class="fa fa-link fa-2x"></i></th>
      <th><i class="fa fa-floppy-o fa-2x"></i></th>
      <th>Opened</th>
      <th>Total</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @customer.shares[:twitter]   %></td>
        <td><%= @customer.shares[:facebook]  %></td>
        <td><%= @customer.shares[:instagram] %></td>
        <td><%= @customer.shares[:custom_button] %></td>
        <td><%= @customer.shares[:downloads] %></td>

        <td><%= @customer.opened_sessions %></td>
        <td><%= @customer.total_sessions %></td>
      </tr>
  </tbody>
</table>

<div class="field">
    <%= label_tag :color_one, "Background Color" %> </br>
    <%= text_field(:customer, :color_one, style: "background-   : #{@customer.color_one}") %>
</div>
<div class="field">c
    <%= label_tag :color_one, "Outline Color" %> </br>
    <%= text_field(:customer, :color_two, style: "background-color: #{@customer.color_two}") %>
</div>
<div class="field">
    <%= label_tag :color_one, "Text Color" %> </br>
    <%= text_field(:customer, :color_three, style: "background-color: #{@customer.color_three}") %>
</div>

<div class="field">
    <%= label_tag :created_at, "Created" %>: <%= @customer.created_at %> <br/>
    <%= label_tag :updated_at, "Last Updated" %>: <%= @customer.updated_at %>
</div>
