
<div class="col-sm-3 col-md-3"></div>
<div class="col-sm-6 col-md-6">
  
  <%= form_for(@photo_session, html: {:class => 'form-signin', role: 'form'}) do |f| %>
  <% if @photo_session.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@photo_session.errors.count, "error") %> prohibited this photo_session from being saved:</h2>

      <ul>
      <% @photo_session.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h2 class="form-signin-heading">Upload Photos</h2>
  <!-- <div class="input-group">
    <span class="input-group-addon"><i class="fa fa-pencil"></i></span> -->
    <%= f.hidden_field :name, placeholder:'Enter Name', style:'width: 300px', class: 'form-control' %>
  <!-- </div> -->
  <br>
  <div class="input-group">
    <span class="input-group-addon"><i class="fa fa-phone"></i></span>
    <%= f.hidden_field :phone_list, placeholder:'Enter Phone Numbers', style:'width: 300px' %>
  </div>
  <br>
  <div class="input-group">
    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
    <%= f.hidden_field :email_list, placeholder:'Enter Emails', style:'width: 300px'%>  
  </div>
  <br>

  

<!-- End Photo Upload -->

  <br/>
  <div class="field">
    <%= f.label :photos %>
    <%= f.fields_for :photos do |asset_fields| %>
      <% if asset_fields.object.new_record? %>

      <div class="fileupload fileupload-new" data-provides="fileupload">
        <div class="input-group">
          <div class="uneditable-input col-lg-3"><i class="icon-file fileupload-exists"></i> 
            <span class="fileupload-preview"></span>
          </div>
          <span class="btn btn-default btn-file">
            <%= asset_fields.file_field :image, capture: 'camera', class: 'file-input' %>
          </span>
        </div>
      </div>

      <% end %>
    <% end %>
  </div>

  <br>

  <div class="actions"><br />
    <%= f.submit 'Upload', class:'btn btn-lg btn-primary btn-block' %>
  </div>
<% end %>



</div>
<div class="col-sm-3 col-md-3"></div>



<script>

  $("#photo_session_phone_list").select2({ 
    tags: [], 
    placeholder: "Enter Phone Numbers",
    tokenSeparators: [",", " "],
    minimumInputLength: 1
  });
  $("#photo_session_email_list").select2({ 
    tags: [],
    placeholder: "Enter Emails",
    tokenSeparators: [",", " "],
    minimumInputLength: 1
  });


  $('#s2id_autogen1').attr('type', 'tel');
    
</script>






