

<h1>Listing Photo Sessions</h1>

<div class="row">
  <table class="table table-hover">
    <tr>
      <th>Photo</th>
      <th>Info</th>
      <th>Emails</th>
      <th>Photo</th>      
    </tr>
    <% PhotoSession.order('created_at DESC').all.each do |photo_session| %>
      <% if photo_session.photos.first %>
      <tr data-url="<%= photo_session_url(photo_session) %>" class="clickable" >

        <td>
          <%= image_tag(photo_session.photos.sample.image.url(:square), size: '50x50') %>
        </td>

        <td>
          <%= l(photo_session.created_at, format: :photo_session) %> - <%= photo_session.photos.count %> Photo<%= 's' if photo_session.photos.count > 1 %>
        </td>

        <td>
          <%= photo_session.email_list %>
        </td>

        <td>
          <%= photo_session.phone_list %>
        </td>

      </tr>
      <% end %>
    <% end %>
  </div>
</table>





<script type="text/javascript">
$(document).ready(function(){ 
  
  $('.clickable').click(function() {
    window.location = $(this).attr('data-url');
  });

});
</script>
