<h1>Listing Photo Sessions</h1>

<%= render 'search' %>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Photographer Id</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @photo_sessions.each do |photo_session| %>
      <tr>
        <td><%= photo_session.name %></td>
        <td><%= photo_session.photo_user_id %></td>
        <td><%= link_to 'Show', photo_session %></td>
        <td><%= link_to 'Edit', edit_photo_session_path(photo_session) %></td>
        <!-- <td><%= link_to 'Destroy', photo_session, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Photo session', new_photo_session_path %>
