<h1>Listing Photo Sessions</h1>

<%= render 'search' %>

<div class="container">
  <div class="row">
    <ol class="breadcrumb col-md-12">
      <li class="active">Sessions</li>
    </ol>
  </div>

  <div class="row">
    <% @photo_sessions.each do |photo_session| %>

      <% if photo_session.photos.first %>

        <div class="thumbnail">
          <div class="col-xs-6 col-md-3">
            <%= link_to image_tag(photo_session.photos.first.image.url(:square), size: '200x200'), photo_session.photos.first.image.url(:large), title: photo_session.photos.first.image_file_name, 'data-gallery' => 'gallery' %>
            <div class="caption">
              <h3><%= photo_session.name %><small class="pull-right"><%= photo_session.created_at %></small></h3>
              <p class="pull-right">Photographer: <%= photo_session.photographer.email %> </p>
              <p><a href="#" class="btn btn-primary" role="button">Share</a> <a href="#" class="btn btn-default" role="button">Delete</a></p>
            </div>
          </div>
        </div>
      <% end %>

    <% end %>
  </div>
</div> <!-- /container -->


