<style>
  /*a         {color:<%= @photo_session.event.customer.color_three %>;}  
  a:visited {color:<%= @photo_session.event.customer.color_three %>;}  
  a:hover   {color:<%= @photo_session.event.customer.color_three %>;}  
  a:active  {color:<%= @photo_session.event.customer.color_three %>;} */

  /*<% if @event %>*/
  .color-one   {background-color: <%= @event.customer.color_one   %> !important;} 
  .color-two   {background-color: <%= @event.customer.color_two   %> !important;} 
  .color-three {color: <%= @event.customer.color_three %> !important;} 
  /*<% else %>*/
  .color-one   {background-color: <%= @photo_session.event.customer.color_one   %> !important;} 
  .color-two   {background-color: <%= @photo_session.event.customer.color_two   %> !important;} 
  .color-three {color: <%= @photo_session.event.customer.color_three %> !important;} 
  /*<% end %>*/

</style>



<% if !@photo_session.photos.empty? %>

  
<br/>

<div class="container color-three">

  <div class=" text-center">
    <% if @photo_session.event.logo.file? %>
      <%= image_tag @photo_session.event.logo(:medium) %>  
    <% else %>
      <h2><%= @photo_session.event %></h2>
    <% end %>
  </div>
  
  <hr/>



  <!-- Photos and Sharing/Download Buttons -->
  <div class="row">
  
  <% @photo_session.photos.each do |photo| %>
    <div class="col-sm-6 col-md-4">
       

       <div class="thumbnail color-two">

          <%= image_tag(photo.image.url(:square), :width => '100%',  title: photo.image_file_name, style: 'pointer-events:none;')  %>
          
          <!-- <button style="margin-top:5px;margin-bottom:5px;" type="button" class="btn btn-facebook btn-lg btn-block" onclick="openFacebookModal('<%=  photo.id %>');">
            <i class="fa fa-facebook"></i> Share to Facebook
          </button>
 -->
         <!--  <a id="share_twitter" href="https://twitter.com/intent/tweet?button_hashtag=FestPix&text=<%=u "#{@photo_session.event.twitter_text} #{photo.customer_url}" %>" title="Shared via @FestPix">
            <button style="margin-top:5px;" type="button" class="btn btn-twitter btn-lg btn-block" data-related="festpix" data-url="<%=  photo.image.url(:xlarge) %>">
              <i class="fa fa-twitter"></i> Share to Twitter
            </button>
          </a> -->

          <% if ENV['INSTAGRAM_ENABLED'].downcase == 'true' %>
            <button style="margin-top:5px;" type="button" class="btn btn-primary btn-lg btn-block" onclick="share_instagram('<%= photo.image.url(:medium) %>');">
              <i class="fa fa-instagram"></i> Download for Instagram
            </button>
          <% else %>
            <button style="margin-top:5px;" type="button" class="btn btn-primary btn-lg btn-block" onclick="share_downloads(); window.location = '<%= photo.image.url(:xlarge) %>';">
              <i class="fa fa-floppy-o"></i> High-Res Download
            </button>
          <% end %>
       </div>


    </div>
  <% end %>

  </div>



  <!-- Start Custom Button -->
  <div class="row text-center">

    <div class="col-sm-4 col-md-4"></div>
    
    <div class="col-sm-4 col-md-4">
      <% if not @photo_session.event.button_url.nil? and not @photo_session.event.button_url.empty? %>
        <button type="button" class="btn btn-lg btn-block color-three" onclick="share_custom_button('<%=  @photo_session.event.button_url %>');">
            <%= @photo_session.event.button_text %>
        </button>
      <% end %>
    </div>

    <div class="col-sm-4 col-md-4"></div>
  </div>
  <!-- End Custom Button -->





  <!-- Start Custom Twitter/Twitter Button -->
  <div class="row text-center">

    <div class="col-sm-3 col-md-3"></div>
    
    <div class="col-sm-3 col-md-3">
      <% unless @photo_session.event.facebook_url.empty? %>
        <%= link_to  @photo_session.event.facebook_url, type: 'button', class: 'btn btn-lg btn-block color-one color-three' do %>
          <%= @photo_session.event.customer.name %> <i class="fa fa-facebook"></i>
        <% end %>
      <% end %>
    </div>
    <div class="col-sm-3 col-md-3">
      <% unless @photo_session.event.twitter_url.empty? %>
        <%= link_to  @photo_session.event.twitter_url, type: 'button', class: 'btn btn-lg btn-block color-one color-three' do %>
          <%= @photo_session.event.customer.name %> <i class="fa fa-twitter"></i>
        <% end %>
      <% end %>
    </div>

    <div class="col-sm-3 col-md-3"></div>
  </div>
  <!-- End Custom Twitter/Facebook Button -->





  <!-- Start FestPix  Button -->
  <div class="row text-center">

    <div class="col-sm-4 col-md-4"></div>
    
    <div class="col-sm-4 col-md-4">
      <%# unless @photo_session.event.festpix? %>
        <div class="row text-center">
          <%= link_to 'http://festpix.com/', type: 'button', class: 'btn btn-lg btn-block color-one color-three' do %>
            FestPix
          <% end %>
        </div>
      <%# end %>
    </div>

    <div class="col-sm-4 col-md-4"></div>
  </div>
  <!-- End FestPix  Button -->
  

  <% if false %>
    <!-- Start Email Form -->
    <!-- <hr/>
    <div class="col-md-12 well">
      <h3>Thanks so much for your support!</h3>
      <h4>In the mean time, subscribe to our email list if you'd like to stay up to date:</h4>
      <form action="http://festpix.us8.list-manage.com/subscribe/post?u=793783d1eb67229d5b27248ac&amp;id=2f2c08dbaa" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
          
        <div class="mc-field-group">
          <input value="" name="EMAIL" class="required email form-control" placeholder="Email" id="mce-EMAIL" type="email">
          <input value="Subscribe for Updates" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary" type="submit">
          <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
          </div>    

          <div style="position: absolute; left: -5000px;"><input name="b_793783d1eb67229d5b27248ac_2f2c08dbaa" value="" type="text"></div>
        
          <h5 class="pull-right">Inquiries: <a href="mailto:info@festpix.com">info@FestPix.com</a></h5><br>
        </div>
      </form>
    </div>  -->
    <!-- End Email Form -->
  <% end %>

</div>
<% else %>
  No Images Found
<% end %>

















<!-- Start Facebook Modal's and API HTML -->
<div id="fb-root"></div>
<div id="facebook_share"></div>

<div class="modal fade bs-example-modal-sm" id="facebookSpinner" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="facebookSpinner">Sharing with Facebook</h4>
      </div>
      <%= image_tag 'loading.gif' , width: '100%' %>
    </div>
  </div>
</div>

<div class="modal fade" id="facebookStatus" tabindex="-1" role="dialog" aria-labelledby="facebookStatus" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="facebookStatus">Facebook Share Successful</h4>
      </div>

      <div class="model-content text-center">
        <br /><br />
        <div id="facebookStatusMessage"></div>
        <br /><br />
      </div>
      
    </div>
  </div>
</div>
<!-- End Facebook Modal's and API HTML -->















<!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- Custom Javascript -->
<script type="text/javascript">

///////////////////////////////////////////////////////////////////////////
// Clickable links
$( '.clickable' ).on( "click", function() {
    window.location = $(this).attr('data-url');
});

///////////////////////////////////////////////////////////////////////////
// General sharing ajax
function share_social(social){
  $.ajax({
      url: "<%= photo_session_counter_path(@photo_session) %>",
      type: "POST",
      data: { social_type: social },
      success: function(resp){ console.log('Successful share'); },
      error:   function(resp){ console.log("Social Share Error:"); console.log(resp); }
  });
}
///////////////////////////////////////////////////////////////////////////
// Custom Button Sharing
function share_custom_button(redirect_to){
  share_social('custom_button');
  if(redirect_to.length > 0) window.location = redirect_to;
}
///////////////////////////////////////////////////////////////////////////
// Twitter
function share_twitter(){
  share_social('twitter');
}
$('#share_twitter').click(function(e){
    e.preventDefault();
    var href = $(this).attr("href");

    share_twitter();

    window.location = href;
});
///////////////////////////////////////////////////////////////////////////
// Instagram
function share_instagram(redirect_to){
  share_social('instagram');
  if(redirect_to.length > 0) window.location = redirect_to;
}
///////////////////////////////////////////////////////////////////////////
// Facebook
function share_facebook(){
  share_social('facebook');
}
///////////////////////////////////////////////////////////////////////////
// Downloads
function share_downloads(){
  share_social('downloads');
}
</script>
<!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->






















<!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- Facebook Javascript -->
<script type="text/javascript">

/**
 * Determine the mobile operating system.
 * This function either returns 'iOS', 'Android' or 'unknown'
 *
 * @returns {String}
 */
function isMobile() {
  var userAgent = navigator.userAgent || navigator.vendor || window.opera;
  return ( userAgent.match( /iPad/i ) || userAgent.match( /iPhone/i ) || userAgent.match( /iPod/i ) || userAgent.match( /Android/i ) )
}

function openFacebookModal(photo_id){
  $.ajax({
      url: "/social/facebook/share/"+photo_id,
      type: "GET",
      success: function(resp){ $('#facebook_share').html(resp); },
      error:   function(resp){ console.log(resp); }
  });
}

function alertFacebookPost(post_id){
  setTimeout(function() { 
    var post_data = post_id.split('_'); 

    if (isMobile())
               // https://m.facebook.com/photo.php?fbid=355775384571088&id=381155535366406
               // https://m.facebook.com/photo.php?fbid=381157265366233&id=100004158871410
      var link = 'https://m.facebook.com/photo.php?fbid='+post_data[0]+'&id='+post_data[1];
    else
      var link = 'https://www.facebook.com/'+post_data[0]+'/posts/'+post_data[1];

      


    $('#facebookStatus').modal('show');
    $('#facebookStatusMessage').html('');
    $('#facebookStatusMessage').prepend(
      $('<button/>')
        .text('View post here')
        .addClass('btn btn-primary btn-lg')
        .click(function () { window.location = link; })
    );
    
    // setTimeout(function() {
    //   $('#facebookStatus').modal('hide');
    // },5000);

  } , 500);

  
}

function shareToFacebook(reference){
  console.log("Sharing "+ reference);


  var textMessage = "<%= "#{@photo_session.event.facebook_text} #FestPix" %>";


    <% if ENV['FACEBOOK_POST_VERSION'].downcase == 'v1' %>

      $('#facebookSpinner').modal('show');

      FB.login(function(response){
   
        //v1
        FB.api( 
          '/me/photos', 'post', 
          {url: reference,message: textMessage}, 
          function(response){
            if(!response.id){
              console.log("Error");
              alertFacebookPost(response.post_id);
            } else {
              share_facebook();
            }

            $('#facebookSpinner').modal('hide');

        });
      }, {scope: 'publish_actions'});

    <% end %>

    <% if ENV['FACEBOOK_POST_VERSION'].downcase == 'v2' %>

      //v2
      FB.login(function(response){      
        FB.ui({
          method: 'feed',
          name: '<%= "#{@photo_session.event.customer} - #{@photo_session.event}" %>',
          link: reference,
          picture: reference,
          caption: 'Shared via #FestPix',
          description: textMessage
        }, function(response){
          if(response){
            share_facebook();
            alertFacebookPost(response.post_id);
          } else {
            console.log('Error!!');
          }
        });
      }, {scope: 'publish_actions'});

    <% end %>

    <% if ENV['FACEBOOK_POST_VERSION'].downcase == 'v3' %>

      //v3
      $('#facebookModal').modal('hide');

      if ($.trim($('textarea#facebookPostText').val()))
        textMessage = $('textarea#facebookPostText').val() + " #FestPix";

      FB.login(function(response){
      
        FB.api( 
          '/me/photos', 'post', 
          {url: reference,message: textMessage },
        function(response){
          if(response.id){
            share_facebook();
            alertFacebookPost(response.post_id);
          } else {
            console.log("Error");
          }

        });

      }, {scope: 'publish_actions'});
    <% end %>

    $('html, body').animate({ scrollTop: 0 }, 'slow');

}
</script>
<!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->