<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @photo_session.name %>
</p>

<p>
  <strong>Photo user:</strong>
  <%= @photo_session.photo_user_id %>
</p>

<!-- <p>
  <strong>Event:</strong>
  <%= @photo_session.event_id %>
</p> -->

<p>
  <strong>Phone Numbers</strong>
  <%= hidden_field_tag :phone_list, @photo_session.phone_list.join(',') %>  
</p>

<p>
  <strong>Emails</strong>
  <%= hidden_field_tag :email_list, @photo_session.email_list.join(',') %>  
</p>

<div>
<% if !@photo_session.photos.empty? %>

  <div class="text-center">
  <label><b>Session Photos:</b></label>
  </div>
  
  <div id="gallery" data-toggle="modal-gallery" data-target="#modal-gallery">
    <ul class="wall" style="list-style-type: none; position:relative;">
    <% @photo_session.photos.each do |photo| %>
    <li class="item">
      <%= link_to image_tag(photo.image.url(:square), size: '175x175'), photo.image.url(:large), title: photo.image_file_name, 'data-gallery' => 'gallery' %>
    </li>
    <% end %>
   </ul>
  </div>


<% else %>
  No Images Found
<% end %>
</div>

<%= link_to 'Edit', edit_photo_session_path(@photo_session) %> |
<%= link_to 'Back', photo_sessions_path %>



<script>
  $("#phone_list").select2({ tags: [] });
  $("#phone_list").select2('readonly', true);
  $("#email_list").select2({ tags: [] });
  $("#email_list").select2('readonly', true);
</script>
