<div class="row">
  <ol class="breadcrumb col-md-12">
    <li><%= link_to 'Sessions', photo_sessions_path %></li>
    <li class="active"><%= @photo_session.name %></li>
  </ol>
</div>


<p>
  <strong>Name:</strong>
  <%= @photo_session.name %>
</p>

<p>
  <strong>Photo user:</strong>
  <%= @photo_session.photo_user_id %>
</p>

<!-- <p>
  <strong>Event:</strong>
  <%= @photo_session.event_id %>
</p> -->

<p>
  <strong>Phone Numbers:</strong>
  <%= label_tag :phone_list, @photo_session.phone_list.join(', ') %>  
</p>

<p>
  <strong>Emails:</strong>
  <%= label_tag :email_list, @photo_session.email_list.join(', ') %>  
</p>

<div>
<% if !@photo_session.photos.empty? %>

  


      
  
<div class="container">

  <div class="row">
  
  <% @photo_session.photos.each do |photo| %>
    <div class="col-sm-6 col-md-4">
       <div class="thumbnail">
        <%= link_to image_tag(photo.image.url(:square), :width => '100%'), photo.image.url(:large), title: photo.image_file_name %>
       </div>
    </div>
  <% end %>

  
  </div>

</div> <!-- /container -->  

<% else %>
  No Images Found
<% end %>
</div>

<%= link_to 'Edit', edit_photo_session_path(@photo_session) %> |
<%= link_to 'Back', photo_sessions_path %>


