<style>
  /*a         {color:<%= @photo_session.event.customer.color_three %>;}  
  a:visited {color:<%= @photo_session.event.customer.color_three %>;}  
  a:hover   {color:<%= @photo_session.event.customer.color_three %>;}  
  a:active  {color:<%= @photo_session.event.customer.color_three %>;} */

  /*<% if @event %>*/
  .color-one   {background-color: <%= @event.customer.color_one   %> !important;} 
  .color-two   {background-color: <%= @event.customer.color_two   %> !important;} 
  .color-three {color: <%= @event.customer.color_three %> !important;} 
  /*<% else %>*/
  .color-one   {background-color: <%= @photo_session.event.customer.color_one   %> !important;} 
  .color-two   {background-color: <%= @photo_session.event.customer.color_two   %> !important;} 
  .color-three {color: <%= @photo_session.event.customer.color_three %> !important;} 
  /*<% end %>*/

</style>

<!-- <div class="row">
  <ol class="breadcrumb col-md-12">
    <li><%= link_to 'Sessions', photo_sessions_path %></li>
    <li class="active"><%= @photo_session.id %></li>
  </ol>
</div>
 -->

<!-- <p>
  <strong>Name:</strong>
  <%= @photo_session.name %>
</p> -->

<!-- <p>
  <strong>Photo user:</strong>
  <%= @photo_session.photo_user_id %>
</p>
 -->
<!-- <p>
  <strong>Event:</strong>
  <%= @photo_session.event_id %>
</p> -->
<!-- 
<p>
  <strong>Phone Numbers:</strong>
  <%= label_tag :phone_list, @photo_session.phone_list.join(', ') %>  
</p> -->
<!-- 
<p>
  <strong>Emails:</strong>
  <%= label_tag :email_list, @photo_session.email_list.join(', ') %>  
</p>
 -->
<!-- <div> -->
<% if !@photo_session.photos.empty? %>

  
<br/>

<div class="container color-three">

  <div class=" text-center">
    <% if @photo_session.event.festpix? %>
      <h2><%= @photo_session.event %></h2>
    <% else %>
      <% unless @photo_session.event.logo(:medium).include? 'festpix.png' %>
        <%= image_tag @photo_session.event.logo(:medium) %>  
      <% else %>
        <h2><%= @photo_session.event %></h2>
      <% end %>
    <% end %>
  </div>
  
  <hr/>

  <div class="row">
  
  <% @photo_session.photos.each do |photo| %>
    <div class="col-sm-6 col-md-4">
       

       <div class="thumbnail color-two">
          <!-- <a href="<%= photo.url %>" target="_blank" title="<%= photo.image_file_name %>"> -->
            <%= image_tag(photo.image.url(:square), :width => '100%',  title: photo.image_file_name, style: 'pointer-events:none;')  %>
          <!-- </a> -->
          
          <button style="margin-top:5px;margin-bottom:5px;" type="button" class="btn btn-facebook btn-lg btn-block" onclick="shareToFacebook('<%=  photo.image.url(:xlarge) %>');">
            <i class="fa fa-facebook"></i> Share to Facebook
          </button>

          <a id="share_twitter" href="https://twitter.com/intent/tweet?button_hashtag=FestPix&text=<%=u "#{@photo_session.event.twitter_text} #{photo.customer_url}" %>" target="_blank" title="Shared via @FestPix">
            <button style="margin-top:5px;" type="button" class="btn btn-twitter btn-lg btn-block" data-related="festpix" data-url="<%=  photo.image.url(:xlarge) %>">
              <i class="fa fa-twitter"></i> Share to Twitter
            </button>
          </a>

          <button style="margin-top:5px;" type="button" class="btn btn-primary btn-lg btn-block" onclick="share_instagram('<%= photo.image.url(:medium) %>');">
            <i class="fa fa-instagram"></i> Download for Instagram
          </button>

         <!-- <a href="http://www.popsockets.com/pages/designer" target="_blank" title="PopSockets Store">
            <button style="margin-top:5px;" type="button" class="btn btn-twitter btn-lg btn-block" data-related="festpix" data-url="<#%  photo.image.url(:xlarge) %>">
              PopSockets Store
            </button>
          </a>-->
       </div>


    </div>
  <% end %>

  </div>


  <div class="row center">

    <div class="col-sm-4 col-md-4"></div>
    
    <div class="col-sm-4 col-md-4">
      <% unless @photo_session.event.button_url.nil? %>
        <button type="button" class="btn btn-lg btn-block color-three clickable" data-url="<%=  @photo_session.event.button_url %>">
            <%= @photo_session.event.button_text %>
        </button>
      <% end %>
    </div>

    <div class="col-sm-4 col-md-4"></div>
  </div>
  
  <div class="row center">

    <div class="col-sm-3 col-md-3"></div>
    
    <div class="col-sm-3 col-md-3">
      <% unless @photo_session.event.facebook_url.empty? %>
        <%= link_to  @photo_session.event.facebook_url, type: 'button', class: 'btn btn-lg btn-block color-one color-three' do %>
          <%= @photo_session.event.customer.name %> <i class="fa fa-facebook"></i>
        <% end %>
      <% end %>
    </div>
    <div class="col-sm-3 col-md-3">
      <% unless @photo_session.event.twitter_url.empty? %>
        <%= link_to  @photo_session.event.twitter_url, type: 'button', class: 'btn btn-lg btn-block color-one color-three' do %>
          <%= @photo_session.event.customer.name %> <i class="fa fa-twitter"></i>
        <% end %>
      <% end %>
    </div>

    <div class="col-sm-3 col-md-3"></div>
  </div>

  <div class="row center">

    <div class="col-sm-4 col-md-4"></div>
    
    <div class="col-sm-4 col-md-4">
      <% unless @photo_session.event.festpix? %>
        <div class="row center">
          <%= link_to 'http://festpix.com/', type: 'button', class: 'btn btn-lg btn-block color-one color-three' do %>
            FestPix
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="col-sm-4 col-md-4"></div>
  </div>

  

<!--   
  <hr/>
  <div class="col-md-12 well">
    <h3>Thanks so much for your support!</h3>
    <h4>In the mean time, subscribe to our email list if you'd like to stay up to date:</h4>
    <form action="http://festpix.us8.list-manage.com/subscribe/post?u=793783d1eb67229d5b27248ac&amp;id=2f2c08dbaa" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
        
      <div class="mc-field-group">
        <input value="" name="EMAIL" class="required email form-control" placeholder="Email" id="mce-EMAIL" type="email">
        <input value="Subscribe for Updates" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary" type="submit">
        <div id="mce-responses" class="clear">
          <div class="response" id="mce-error-response" style="display:none"></div>
          <div class="response" id="mce-success-response" style="display:none"></div>
        </div>    

        <div style="position: absolute; left: -5000px;"><input name="b_793783d1eb67229d5b27248ac_2f2c08dbaa" value="" type="text"></div>
      
        <h5 class="pull-right">Inquiries: <a href="mailto:info@festpix.com">info@FestPix.com</a></h5><br>
      </div>
    </form>
  </div> 
-->



<% else %>
  No Images Found
<% end %>


</div>


<%#= button_to 'Edit', edit_photo_session_path(@photo_session) %>
<%#= link_to 'Back', photo_sessions_path %>

<div class="modal fade bs-example-modal-sm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Sharing with Facebook</h4>
      </div>
      <%= image_tag 'loading.gif' , width: '100%' %>
    </div>
  </div>
</div>



<!-- ################ -->
<script type="text/javascript">

///////////////////////////////////////////////////////////////////////////
// General sharing ajax
function share_social(social_type){
  $.ajax({
      url: "<%= photo_session_social_share_path(@photo_session) %>",
      type: "POST",
      data: { social_type: social_type },
      success: function(resp){ console.log('Successful share'); },
      error:   function(resp){ console.log(resp); }
  });
}

///////////////////////////////////////////////////////////////////////////
// Twitter
function share_twitter(){
  share_social('twitter');
}
$('#share_twitter').click(function(e){
    e.preventDefault();
    var href = $(this).attr("href");

    share_twitter();

    window.location = href;
});


///////////////////////////////////////////////////////////////////////////
// Instagram
function share_instagram(redirect_to){
  share_social('instagram');
  if(redirect_to.length > 0) window.location = redirect_to;
}

///////////////////////////////////////////////////////////////////////////
// Facebook
function share_facebook(){
  share_social('facebook');
}


</script>




<!-- ################ -->

<div id="fb-root"></div>
<script type="text/javascript">

function alertFacebookPost(post_id){
  setTimeout(function() { 
    var post_data = post_id.split('_'); 
    var link = 'https://www.facebook.com/'+post_data[0]+'/posts/'+post_data[1];
    pushFlash({message: 'Facebook share success. <a href="'+link+'"> View post here.', state:'success'});
  } , 500);

}

function shareToFacebook(reference){
  console.log("Sharing "+ reference);

  
  FB.login(function(response){

    <% if ENV['FACEBOOK_POST_VERSION'].downcase == 'v1' %>

      $('#myModal').modal('show');
    
      //v1
      FB.api( 
        '/me/photos', 'post', 
        {url: reference,message: "<%= "#{@photo_session.event.facebook_text} #FestPix" %>"}, 
      function(response){
        if(!response.id){
          console.log("Error");
        } 
        console.log(response);

        $('#myModal').modal('hide');
        alertFacebookPost(response.post_id);
        share_facebook();

      });

    <% end %>

    <% if ENV['FACEBOOK_POST_VERSION'].downcase == 'v2' %>

      //v2
      FB.ui({
        method: 'feed',
        name: '<%= "#{@photo_session.event.customer} - #{@photo_session.event}" %>',
        link: reference,
        picture: reference,
        caption: 'Shared via #FestPix',
        description: '<%= "#{@photo_session.event.facebook_text} #FestPix" %>'
      }, function(response){
        if(response){
          console.log('Photo posted to facebook! Thanks for using FestPix');
          alertFacebookPost(response.post_id);
          share_facebook();
        } else {
          console.log('Error!!');
        }
        console.log(response);
        
      });

    <% end %>

  }, {scope: 'publish_actions'});
}
//##################################################



// function shareToFacebook(reference){

//   // http://stackoverflow.com/questions/18831362/how-to-share-a-simple-image-on-facebook-with-callback
//   console.log("Sharing " + reference);
//   FB.login(function(response){

//     FB.api( '/me/albums',
//       function (response) {
//         if (response && !response.error) {
//           console.log(response);
//         }
//       }
//     );

    // FB.api( '/me/albums', "POST", {
    //   name: 'FestPix',
    //   // "message": "{album-description}",
    //   // privacy: {enum: 'FRIENDS_OF_FRIENDS'},
    // }, function (response) {
        
    //     // Return if album fetch fails
    //     if(!response.id) {
    //       console.log(response);
    //       return false;
    //     }

    //     // FB.api('/album_id/photos', 'post', {
    //     FB.api('/'+ response.id +'/photos', 'post', {
    //       // message:'photo description',
    //       url: reference        
    //     }, function(response){
    //       if (!response || response.error) {
    //           console.log('Error occured');
    //           console.log(response);
    //       } else {
    //           console.log('Post ID: ' + response.id);
    //       }
    //     });
    // });


    // FB.ui({
    //   method: 'feed',
    //   name: '<%= "#{@photo_session.event.customer} - #{@photo_session.event}" %>',
    //   link: reference,
    //   picture: reference,
    //   caption: 'Shared via #FestPix',
    //   description: '<%= "#{@photo_session.event.facebook_text} #FestPix" %>'
    // }, function(response){
    //   if(response){
    //     console.log('Photo posted to facebook! Thanks for using FestPix');
    //     console.log(response);
    //   } else {
    //     console.log('Error!!');
    //   }
      
    // });

  // }, {scope: ['publish_actions', 'user_photos']});


  // FB.ui({
  //   method: 'share',
  //   href:   'reference'
  // }, function(response){
  //   // if(response.id){
  //   //   console.log('Photo posted to facebook! Thanks for using FestPix');
  //   // } else {
  //   //   console.log('Error!!');
  //   // }
  //   console.log(response);
  // });
// }







  // FB.login(function(response){
  //   if (response.authResponse) {
  //     var wallPost = {
  //       message: "Shared via #FestPix",
  //       picture: reference
  //     };
  //     FB.api('/me/feed', 'post', wallPost , function(response) {
  //       if (!response || response.error) {
  //         alert('Failure! ' + response.status + ' You may logout once and try again');
  //       } else {
  //         alert('Success! Post ID: ' + response);
  //       }
  //     });
  //   } else {
  //     if (!response || response.error) {
  //       alert('Failure! ' + response.error + ' You may logout once and try again');
  //       console(response.error)
  //     } else {
  //       // alert('Success! Post ID: ' + response);
  //       console(response);
  //     }
  //   }
  // }, {scope: 'publish_actions'});
   

  //  FB.ui({
  //   method: 'feed',
  //   name: 'Facebook Dialogs',
  //   link: '<%= photo_session_url(@photo_session) %>',
  //   picture: reference,
  //   caption: 'Reference Documentation',
  //   description: reference
  // },function(response) {
  //   if (response && response.post_id) {
  //     alert('Succeeded to post');
  //   } else {
  //     alert('Failed to post');
  //   }
  // });


  // FB.login(function(){
  //  FB.api('/me/feed', 'post', {url: reference,message: "Shared via #FestPix"});
  // }, {scope: 'publish_actions'});


  // FB.login(function(response){
  //   if (response.authResponse) {
  //     FB.api('/me/photos', 'post', {
  //       url: reference,
  //       message: "Shared via #FestPix"
  //     }, function(response){
  //         if(response.id){
  //           alert('Photo posted to facebook! Thanks for using FestPix');
  //         }
  //         else{
  //           alert("Error");
  //           console.log(response.error);
  //         }
  //     });
  //   }
  //   else {
  //     alert('Could not connect to Facebook. Please try again later.');
  //   }
  // }, {scope: 'publish_stream'});
// };


(function(d, s, id){
 var js, fjs = d.getElementsByTagName(s)[0];
 if (d.getElementById(id)) {return;}
 js = d.createElement(s); js.id = id;
 js.src = "//connect.facebook.net/en_US/sdk.js";
 fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));

window.fbAsyncInit = function() {
  FB.init({
    appId      : '1488469154715813',
    xfbml      : true,
    version    : 'v2.0'
  });
};
</script>
