<div class="navbar navbar-fixed navbar-inverse">
<!-- <div class="navbar navbar-fixed"> -->
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="<%= root_path %>">FestPix</a>
      <div class="container nav-collapse">
        <ul class="nav pull-right">
          <!-- <li><%= link_to "Events", events_path  %></li> -->
          <li><%= link_to "Find Photos", photo_sessions_path  %></li>
          <% if user_signed_in? %>
            <li><%= link_to "#{current_user.email}", user_path(current_user) %></li>
            <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
          <% else %>
            <li><%= link_to "Sign in", new_user_session_path %></li>
            <li><%= link_to "Sign up", new_user_registration_path %></li>
          <% end %>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>

<!-- <nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="home.html">FestPix</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="signin.html">Sign In</a></li>
      <li><a href="signup.html">Sign Up</a></li>
    </ul>
  </div>
</nav> -->