<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    
    <title><%= content_for?(:title) ? yield(:title) : "FestPix" %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag '/assets/favicon.ico', :rel => 'shortcut icon' %>

    <%= javascript_include_tag "application" %>
  </head>


  <body class="color-one color-three">
    <% unless "#{params[:action]}:#{params[:controller]}" == 'show:photo_sessions' %>
        <%= render 'layouts/header' %>
    <% end %>

    <div class="container" id="main-container">
      <div class="row">
          <%= render 'layouts/flash' %>
      </div><!--/row-->

      <div class="row">
        <%= yield %>
      </div>
        
      <hr/>

      <footer>
        <div class="fb-like" data-href="https://www.facebook.com/festpix" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>        
        <div class="pull-right">&copy; FestPix 2014</div>
      </footer>

    </div> <!-- /container -->
  </body>


  <script>
  <% if is_production? %>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-51243528-2', 'festpix.com');
    ga('send', 'pageview');
  <% else %>
    // Not tracking development site analytics
  <% end %>
  </script>

</html>
