<meta name="format-detection" content="telephone=no">
<h2>Sign up</h2>

<%= form_for([resource, resource.with_customer],
    :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
    <%= f.email_field :email, :autofocus => true%></div><br />

  <%= f.fields_for :customer do |customer_form| %>
  <div><%= customer_form.label :name %><br />
    <%= customer_form.text_field :name, :autofocus => true %></div>
  <% end %>

  <!-- <div class="field"> -->
  <!--   <%= f.fields_for :customer do |customer_form| %> -->
  <!--   <%= customer_form.label :name %><br /> -->
  <!--   <%= customer_form.text_field :name %> -->
  <!--   <% end %> -->
  <!-- </div> -->
  
  <!-- <div class="field"> -->
  <!--   <%= f.label :customer_name %><br /> -->
  <!--   <%= text_field_tag :customer_name, '' %> -->
  <!-- </div> -->
  <!-- <br /> -->

  <!-- <div><%= f.label :slug, 'Customer URL' %> (festpix.com/portal/&ltCUSTOMER_URL&gt) <br/> -->
  <!-- <%#= f.text_field :slug, required: true %></div><br /> -->

  <!-- <div><%#= f.label :phone_number %> (format should be '3031234567', not '303-123-4567')<br/>
  <%#= f.text_field :phone_number, type: 'tel' %></div><br /> -->
  <!-- <%#= f.hidden_field :phone_number, type: 'tel' %><br /> -->

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div><br />

  <!-- <div><%= f.label :password_confirmation %><br /> -->
  <!-- <%#= f.password_field :password_confirmation %></div><br /> -->

  <div><%= f.submit "Create Account", class: 'btn btn-primary' %></div><br/>
<% end %>

<%= render "users/shared/links" %>
